
<%- include('header') -%>
<%- include('navbar') -%>
<%- include('footer') -%>



<h2>ESTO ES FORMULARIOS</h2>
<!---<embed src="pdf/inscripcion.pdf" type="application/pdf" width="100%" height="600px" />-->

<a href="pdf/inscripcion.pdf" download="Inscripcion2020">
    <i class="far fa-file-pdf"></i> Bajar archivo
</a>

<p style="height: 600px;"></p>

<%- include('pie') -%>