<%- include('header') -%>
<%- include('navbar') -%>
<%- include('footer') -%>


<div class="mx-auto" style="width: 300px;" >
  <h2>Nuestra Historia</h2>
</div>

<div class="row mt-3">
  <div class="col col-md-5">
    <div class="card">
      <div class="card-body">

        <img src="img/nuestrahistoria/1.jpg" width="200" style="float: left; margin-right: 5px;">

        Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quibusdam quod non, qui cupiditate quas
        nihil natus ab consectetur explicabo exercitationem sint asperiores excepturi impedit officia, perspiciatis
        veritatis. Vitae, eaque.

      </div>
    </div>
  </div>

  <div class="col col-md-2 text-center">
    <button class="btn btn-primary">
      1989
    </button>
  </div>
</div>


<div class="row mt-3">
  <div class="col col-md-5">
  </div>

  <div class="col col-md-2 text-center">
    <button class="btn btn-primary">
      1994
    </button>
  </div>


  <div class="col col-md-5">
    <div class="card">
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sed ut, qui commodi molestias labore repellat
          quibusdam aliquid pariatur quia, ipsam tempore quidem aperiam placeat consequuntur architecto delectus nostrum
          quaerat?</p>
      </div>
    </div>
  </div>

</div>

<div class="row mt-3">
  <div class="col col-md-5">
    <div class="card">
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, fuga ipsum. Culpa dolorem, distinctio,
          blanditiis atque maiores voluptatum praesentium quidem eos nostrum tenetur molestias nemo suscipit facilis
          adipisci laborum perferendis?</p>
      </div>
    </div>
  </div>

  <div class="col col-md-2 text-center">
    <button class="btn btn-primary">
      1999
    </button>
  </div>
</div>


<div class="row mt-3">
  <div class="col col-md-5">
  </div>

  <div class="col col-md-2 text-center">
    <button class="btn btn-primary">
      2004
    </button>
  </div>


  <div class="col col-md-5">
    <div class="card">
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sed ut, qui commodi molestias labore repellat
          quibusdam aliquid pariatur quia, ipsam tempore quidem aperiam placeat consequuntur architecto delectus nostrum
          quaerat?</p>
      </div>
    </div>
  </div>

</div>

<div class="row mt-3">
  <div class="col col-md-5">
    <div class="card">
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, fuga ipsum. Culpa dolorem, distinctio,
          blanditiis atque maiores voluptatum praesentium quidem eos nostrum tenetur molestias nemo suscipit facilis
          adipisci laborum perferendis?</p>
      </div>
    </div>
  </div>

  <div class="col col-md-2 text-center">
    <button class="btn btn-primary">
      2009
    </button>
  </div>
</div>

<div class="row mt-3">
  <div class="col col-md-5">
  </div>

  <div class="col col-md-2 text-center">
    <button class="btn btn-primary">
      2014
    </button>
  </div>


  <div class="col col-md-5">
    <div class="card">
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius sed ut, qui commodi molestias labore repellat
          quibusdam aliquid pariatur quia, ipsam tempore quidem aperiam placeat consequuntur architecto delectus nostrum
          quaerat?</p>
      </div>
    </div>
  </div>

</div>

<div class="row mt-3">
  <div class="col col-md-5">
    <div class="card">
      <div class="card-body">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, fuga ipsum. Culpa dolorem, distinctio,
          blanditiis atque maiores voluptatum praesentium quidem eos nostrum tenetur molestias nemo suscipit facilis
          adipisci laborum perferendis?</p>
      </div>
    </div>
  </div>

  <div class="col col-md-2 text-center">
    <button class="btn btn-primary">
      2019
    </button>
  </div>
</div>
<%- include('pie') -%>

